body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
  }

  .container {
    background-color: hsl(0, 0%, 100%);
    height: 495px;
    width: 300px;
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

  .img {
    height: 300px;
    border-radius: 10px;
  }

  .mainText {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-top: 10px;
  }

  .para {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-top: 0px;
  }

  /* For copyright */
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
